# Auto detect text files
* text=auto

# Force LF for source code
*.cs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.md text eol=lf

# Windows-specific
*.sln text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.dll binary
*.exe binary